<section>
  <div class="top-section">
    <h1>Lorem Lorem Lorem</h1>

    <div>
      <app-timeline />

      <p-divider />

      <ul>
        <li class="text-[var(--p-red-500)]">
          <app-icon iconSrc="icons/failed-icon.svg" styleClass="w-[1.5rem]" /> Lorem
        </li>

        <li class="text-[var(--p-yellow-500)]">
          <app-icon iconSrc="icons/warn-icon.svg" styleClass="w-[1.5rem]" /> Lorem
        </li>

        <li class="text-[var(--p-green-500)]">
          <app-icon iconSrc="icons/success-icon.svg" styleClass="w-[1.5rem]" /> Lorem
        </li>
      </ul>
    </div>
  </div>

  <div class="bottom-section">
    <h1>Lorem ipsum dolor sit</h1>

    <!-- GRAPHS -->
    <div>
      <app-contextual-risk-table />
      <app-contextual-risk-chart />
    </div>
  </div>
</section>
