<section>
  <!-- DESCRIPTION -->
  <div>
    <h1>Description</h1>

    <p>
      Lorem ipsum dolor sit amet consectetur. Aenean sodales pellentesque gravida nibh et magna
      faucibus. Dui commodo ut metus amet egestas habitant viverra. Quisque fusce senectus facilisis
      non diam leo nulla sem pellentesque. Sit in vel sed cursus metus sit fringilla vestibulum.
    </p>
  </div>

  <!-- EXTRA -->
  <div>
    <h1>Extra</h1>

    <p>
      Lorem ipsum dolor sit amet consectetur. Tempus a id adipiscing fames egestas tellus dis
      pretium tempus. Justo nisl nisl lorem lectus id ornare. Rhoncus in egestas in amet porttitor
      pellentesque sit. Amet gravida integer velit felis. Eu consectetur interdum auctor sed
      aliquam. Eu pulvinar accumsan sed id. Duis a aliquam eu quisque commodo lectus. Lectus ipsum
      velit purus viverra vulputate viverra in nunc nulla. Euismod rhoncus mauris urna orci gravida
      sagittis netus. Amet mus in vel etiam. Interdum habitant congue massa in etiam sit. Commodo
      nibh viverra lobortis augue lorem quam lorem suspendisse.
    </p>
  </div>

  <p-divider />

  <!-- DETAILS -->
  <section class="details">
    <div>
      <p>Lorem ipsum dolor</p>
      <p>10/19/2017</p>
    </div>

    <div>
      <p>Lorem ipsum dolor</p>
      <p>Ut</p>
    </div>

    <div>
      <p>Lorem ipsum dolor</p>
      <p>Eros</p>
    </div>

    <div>
      <p>Lorem ipsum dolor</p>
      <p class="flex items-center gap-2">
        <app-icon iconSrc="icons/check.svg" styleClass="w-[1rem]" /> Yes
      </p>
    </div>

    <div>
      <p>Lorem ipsum dolor</p>
      <p>Sit</p>
    </div>

    <div>
      <p>Lorem ipsum dolor</p>
      <p>Lorem ipsum dolor</p>
    </div>

    <div>
      <p>Lorem ipsum dolor</p>
      <p>Lorem ipsum dolor</p>
    </div>
  </section>

  <p-divider />

  <!-- TECHNIQUES -->
  <div class="techniques">
    @for (technique of techniques(); track technique) {
      <app-technique-card [technique]="technique" />
    }
  </div>
</section>
