<ngx-graph
  class="graph-container"
  [nodes]="nodes()"
  [links]="links()"
  [curve]="curve()"
  [layoutSettings]="layoutSettings()"
  [zoomLevel]="0.89"
>
  <ng-template #nodeTemplate let-node>
    <svg:g>
      <svg:image
        [attr.xlink:href]="node.data.img"
        x="3"
        y="5"
        width="80"
        height="80"
        style="cursor: pointer"
        (mouseenter)="onNodeClick($event, node)"
      ></svg:image>

      <svg:text
        text-anchor="middle"
        x="45"
        y="100"
        style="font-size: 13px; fill: #333; font-weight: 600"
      >
        {{ node.label }}
      </svg:text>
      <svg:text text-anchor="middle" x="45" y="118" style="font-size: 12px; fill: #333">
        {{ node.data.ip }}
      </svg:text>
    </svg:g>
  </ng-template>
</ngx-graph>

<!-- Tooltip / Popover -->
@if(popoverVisible()) {
<div
  class="node-popover"
  [style.top.px]="popoverY()"
  [style.left.px]="popoverX()"
  (click)="$event.stopPropagation()"
  (keydown)="$event.stopPropagation()"
>
  <app-node-popover [node]="selectedNode()" />
</div>
}
