<section>
  <h2>Contextual Risk</h2>

  <div class="wrapper">
    <ul>
      <li><p-badge severity="danger" /> <strong>2</strong> Critical</li>
      <li><p-badge severity="danger" /> <strong>0</strong> High</li>
      <li><p-badge severity="warn" /> <strong>0</strong> Medium</li>
      <li><p-badge severity="success" /> <strong>0</strong> Low</li>
    </ul>

    <div class="progress-wrapper">
      <round-progress
        [current]="2"
        [max]="2"
        [color]="'#C6190D'"
        [background]="'#eaeaea'"
        [radius]="100"
        [stroke]="12"
        [semicircle]="false"
        [rounded]="true"
        [clockwise]="true"
        [responsive]="false"
        [duration]="800"
        [animation]="'easeOutCubic'"
        [animationDelay]="0"
        [innerCircleFill]="'transparent'"
      ></round-progress>

      <!-- Overlay text -->
      <div class="progress-text">2</div>
    </div>
  </div>
</section>
