@reference "tailwindcss";

section {
  @apply p-4 rounded-[var(--card-border-radius)] bg-white shadow-[var(--card-shadow)];

  h2 {
    @apply mb-4 text-[var(--text-color)];
  }

  .wrapper {
    @apply lg:flex gap-8 items-center;

    ul {
      @apply leading-10 text-[var(--chart-text-color)];

      li {
        @apply flex gap-2 items-center;
      }
    }
  }
}

.progress-wrapper {
  @apply relative inline-block w-[200px] h-[200px];
}

.progress-text {
  @apply absolute top-[50%] left-[50%] font-semibold;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  color: var(--text-color);
}
