<section tabindex="0" role="button" (click)="toggleDescription()" (keydown)="toggleDescription()">
  <h3 class="mb-4">{{ technique()?.label }}</h3>

  <div class="panel">
    <div class="flex gap-2 items-center w-[40%]">
      <app-icon iconSrc="icons/server.svg" styleClass="w-[3rem]" />
      <div>
        <p>Server</p>
        <p class="text-[12px]">Server</p>
      </div>
    </div>

    <p-divider layout="vertical" />

    <p class="flex-1">Lorem ipsum dolor sit amet consectetur.</p>
  </div>

  @if (expanded()) {
    <p class="mt-4">{{ technique()?.description }}</p>
  }
</section>
