:root {
  --bg-color: #fafafa;
  --hover-bg-color: #fafafa;
  --text-color: #525d73;
  --card-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  --card-border-radius: 15px;
  --table-header-text-size: 13px;
}
