.p-tooltip {
  --p-tooltip-background: var(--p-primary-100);
  --p-tooltip-color: #000;
  --p-tooltip-border-radius: 50px;
  --p-tooltip-padding: 0.5rem 1rem;
}

.p-tooltip-text {
  font-size: 0.795rem;
}